<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showCatalogs')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Show All Catalogs
		</a>
	</div>
	<div class="col-md-6 text-right">
		{% if 'username' not in session %}
		<a href={{ url_for('showLogin') }}>Login</a>
		{% else %}

		<a href={{ url_for('gdisconnect') }}>Logout</a>
		{% endif %}

		<figure class="creator">
			<img src={{picture}} />
			<figcaption>{{username}}</figcaption>
		</figure>
	</div>


</div>

<div class="page-header">
	<h1>Catalog App</h1>
</div>

<div class='flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

</div>
