{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <h2>Categories</h2>
      {% for catalog in catalogs %}
      <a href="{{url_for('showItem', catalog_id = catalog.id)}}">
        <div class="col-md-10 catalog-list">
          <p>{{catalog.name}}</p>
        </div>
      </a>
      {% endfor %}
    </div>

    <h2>Latest Items</h2>
    {% for i in items[:10] %}
    <p>{{i.name}} <i>({{i.catalog.name}})</i></p>
    {% endfor %}
  </div>
</div>

{% endblock %}
